doctype html
html
  head
    title= "Paper Sail"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/manifest.json')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    script(src="/three/build/three.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/multi.js")
    script(src="/javascripts/utils.js")
    script(src="/javascripts/sound.js")
    script(src="/javascripts/engine.js")
    script(src="/javascripts/sparticle.js")
    script(src="/javascripts/fish.js")
    script(src="/javascripts/scroll.js")
    script(src="/javascripts/game.js")


  body
    block content
    script(src="/reload/reload.js")
