doctype html
html
  head
    title= "Paper Sail"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/manifest.json')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")  
    script(src="/javascripts/gameinfo.js")
    script(src="/javascripts/config.js")
    script(src="/webapp/particles.min.js")
    script(src="/three/build/three.js")
    script(src="/javascripts/loader.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/md5.js")
    script(src="/javascripts/utils.js")
    script(src="/javascripts/multi.js")
    script(src="/javascripts/sound.js")
    script(src="/javascripts/engine.js")
    script(src="/javascripts/world.js")
    script(src="/javascripts/sparticle.js")
    script(src="/javascripts/fish.js")
    script(src="/javascripts/scroll.js")
    script(src="/javascripts/game.js")

  body
    block content
    script(src="/reload/reload.js")
    script(src="/webapp/dist/manifest.js")
    script(src="/webapp/dist/vendor.js")
    script(src="/webapp/dist/index.js")