#webapp
script.
  LOADER.addEventListener("progress",function(){
    //console.log("Loading: "+Math.floor(LOADER.completion*100)+"%");
  });
  LOADER.addEventListener("load",function(){
    GAME.start();
  });